* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #FDAE16;
    --dark-red: #780000;
    --red: #B72424;
    --cream: #F7EEE1;
    --black: #000000;
    --white: #FFFFFF;

    --heading-font: 'Fredericka the Great';
    --body-font: 'Jost';
    --titles-font: 'Spicy Rice';

    --normal-font: 1rem;
    --aboveNormal-font: 1.25rem;
    --bigger-font: 2rem;

    --regular: 400;
    --bold: 500;
    --bolder: 600;
    --boldest: 700;
}
body {
    overflow-x: hidden;
}

body, button {
    background-color: var(--cream);
    font-family: var(--body-font), 'Times';
    font-size: var(--normal-font);
    font-weight: var(--regular);
    color: var(--cream);
}

/** #############
    HEADER/NAV
################ **/
header {
    background-color: var(--dark-red);
    padding-top: 0.5em;
}
nav {
    padding: 1.5em;
    font-weight: var(--bolder);
    color: var(--cream);

    display: flex;
    justify-content: space-between;
}

.header--title {
    display: flex;
    align-items: center;
}
.header--title img {
    width: 30px;
    margin-right: 0.25em;
}

.nav--list {
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav--list li {
    margin-left: 1.5em;
}
.nav--list a {
    color: var(--cream);
    text-decoration: none;
}

.resume--download {
    background-color: var(--yellow);
    color: var(--dark-red);
    font-weight: var(--bolder);
    border: none;
    padding: 0.25em 0.75em ;
    border-radius: 7px;
    box-shadow: 1px 1px 15px 4px var(--red);
}
.resume--download:hover {
    cursor: pointer;
    box-shadow: 0px 0px 25px 10px rgb(172, 47, 47);
    transform: scale(1.05,1.05);
}

/** #############
    HERO
################ **/
.hero {
    background-color: var(--dark-red);
    text-align: center;
    padding-top: 1.5em;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(9, 1fr);

    min-width: 0;
    min-height: 0;

    justify-content: center;
}

.hero--title {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 4.75rem;
    letter-spacing: 0.5em;
    overflow-x: hidden;

    grid-row: 1/12;
    grid-column: 2/9;
}
.hero--title h1 {
    margin-bottom: 20px;
}
.hero--title h1:last-child {
    z-index: 1;
    position: relative;
}
.hero--title h1:nth-child(n+2) {
    font-weight: 400;

}

.hero--image img {
    width: 425px;
    z-index: 1;
    position: relative;
}
.hero--image {
    grid-row: 3/9;
    grid-column: 2/5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero--checkMeOut {
    background-color: var(--dark-red);
    width: 250px;
    grid-row: 5/7;
    grid-column: 6/8;
    box-shadow: 0px 0px 10px 0px rgb(131, 30, 30);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}
.hero--checkMeOut p {
    font-weight: var(--bolder);
    font-size: var(--aboveNormal-font);
    font-style: italic;
    margin-bottom: 0.5em;
}
.hero--checkMeOut button {
    background-color: var(--yellow);
    color: var(--dark-red);
    border-radius: 10px;
    border: none;
    padding: 0.25em 1em;
    font-weight: var(--boldest);
}
.hero--checkMeOut button:hover {
    box-shadow: 0px 0px 25px 10px rgb(172, 47, 47);
    transform: scale(1.05,1.05);
    cursor: pointer;
}

.hero--black--color {
    background-color: var(--black);
    height: 160px;

    grid-row: 8/10;
    grid-column: 1/10;

    display: flex;
    align-items: end;
    z-index: 0;
    position: relative;
}

.hero--divider {
    background-color: var(--yellow);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    grid-row: 9/11;
    grid-column: 5/6;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    position: relative;
}
.hero--divider p {
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--black);
}
.hero--divider a {
    text-decoration: none;
}
.hero--divider a:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

.hero--cream--color {
    background-color: var(--cream);
    grid-row: 10/12;
    grid-column: 1/10;
}

/** #############
    ABOUT
################ **/
#aboutMe {
    display: flex;
    color: var(--black);
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
    margin-top: 2em;
}

.aboutMe--left {
    padding: 1em 4em;
    margin-left: 4em;
    margin-top: 2em;
    width: 600px
}

.aboutMe--left--title {
    font-family: var(--titles-font);
    font-weight: var(--bold);
    font-size: 4.25rem;
    letter-spacing: -1px;
    line-height: 60px;
    margin-bottom: 0.25em;
}

.aboutMe--left--blurb {
    font-size: var(--aboveNormal-font);
    font-weight: var(--bold);
}

.aboutMe--left--email {
    background-color: var(--yellow);
    padding: 0.5em 5em;
    border-radius: 10px;
    text-align: center;
    margin-top: 1.25em;
}
.aboutMe--left--email a {
    color: var(--black);
    text-decoration: none;
    font-weight: var(--boldest);
}
.aboutMe--left--email:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.aboutMe--right {
    background-color: #780000;
    width: 500px;
    margin-left: 3em;
    margin-top: 2em;
}

.aboutMe--right img {
    width: 400px;
    border: 10px solid var(--dark-red);
    display: flex;
    align-items: center;

}
/** #############
    TECHNOLOGIES
################ **/
#technologies {
    color: var(--black);
    font-weight: var(--bold);
    text-align: center;
    padding-bottom: 6em;
}

.tech--title {
    font-size: var(--bigger-font);
    font-family: var(--titles-font);
    font-weight: var(--regular);
    margin-bottom: 0.25em;
}

.tech--list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.tech--list li {
    margin-right: 1em;
}

/** #############
    EXPERIENCE
################ **/
#experience {
    background-color: var(--dark-red);

    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    padding-top: 2em;
}


.exp--card {
    border: 5px solid var(--cream);
    background-color: var(--dark-red);
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: 1em;
    width: 350px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card--date {
    margin-bottom: 0.5em;
}
.card--title {
    font-size: var(--aboveNormal-font);
    text-decoration: underline;
}
.card--subtitle {
    margin-bottom: 0.75em;
    margin-top: 0.5em;
    background-color: var(--yellow);
    opacity: 85%;
    color: var(--dark-red);
    border-radius: 7px;
    padding: 0.25em;
}
.desc--list {
    margin-bottom: 0.75em;
}
.desc--list, .skills--list {
    list-style: none;
}
.desc--list li {
    margin-bottom: 0.5em;
}

.card--skills p {
    line-height: 2.5em;
}

.skill--decor {
    font-size: 0.8rem;
    border: 1px solid var(--yellow);
    border-radius: 10px;
    padding: 0.5em;
    margin-right: 0.25em;
}
.skill--decor:hover {
    border: 2px solid var(--yellow);
}

.exp--title {
    padding-top: 0.75em;
    font-size: 3.5rem;
    font-family: var(--heading-font);
    letter-spacing: 7px;

    grid-row: 1/4;
    grid-column: 5/8;
    position: relative;
    z-index: 0;
    /* overflow-x: hidden; */
}
.exp--title h2:nth-child(n+2) {
    font-weight: 400;
}

.exp--card {
    grid-row: 4/9;
    grid-column: 6/9;

}
.exp--card:nth-child(2) {
    grid-row: 2/9;
    grid-column: 1/3;
}
.exp--card:nth-child(3) {
    grid-row: 3/9;
    grid-column: 3/6;

}

/** #############
    PROJECTS
################ **/
#projects {
    background-color: var(--cream);
    color: var(--black);
    padding: 5em 7em;
}

.projects--div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.projects--title {
    font-family: var(--titles-font);
    font-weight: var(--regular);
    font-size: 3rem;
    margin-bottom: 0.5em;
    margin-left: 1em;
}
.project--date {
    margin-bottom: 0.5em;
}

.project {
    border: 2px solid var(--black);
    width: 390px;
    height: 500px;
    padding: 1em;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project--img {
    width: 350px;
}
.project--img:hover {
    transform: scale(1.03);
    transition: 0.25s ease-in;
}
.project--blurb {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}

.project:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/3;
}
.project:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3/5;
    margin-left: 2em;
}
.project:nth-child(3) {
    grid-row: 1/3;
    grid-column: 5/7;
    margin-left: 2em;
}
.project:nth-child(4) {
    grid-row: 3/5;
    grid-column: 1/3;
}
.project:nth-child(5) {
    grid-row: 3/5;
    grid-column: 3/5;
    margin-left: 2em;
}
.project:nth-child(6) {
    grid-row: 3/5;
    grid-column: 5/7;
    margin-left: 2em;
}


/** #############
    FOOTER
################ **/
footer {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}
.footer--title {
    margin-left: 5em;
}
.contacts--list {
    margin-right: 5em;
    list-style: none;
    display: flex;
}
.contacts--list li {
    margin-left: 2em;
}

.contacts--list a {
    color: var(--cream);
    text-decoration: none;
}

/** #############
    MEDIA Q
################ **/

@media (max-width:1350px) {
    /** #############
        PROJECTS
    ################ **/
    #projects {
        padding: 5em 0em;
    }
    .projects--div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .projects--title {
        margin-left: 2em;
    }

    .project:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/3;
        margin-left: 8em;
    }
    .project:nth-child(2) {
        grid-row: 1/3;
        grid-column: 3/5;
        margin-left: 2em;
    }
    .project:nth-child(3) {
        grid-row: 3/5;
        grid-column: 1/3;
        margin-left: 8em;
    }
    .project:nth-child(4) {
        grid-row: 3/5;
        grid-column: 3/5;
        margin-left: 2em;
    }
    .project:nth-child(5) {
        grid-row: 5/7;
        grid-column: 1/3;
        margin-left: 8em;
    }
    .project:nth-child(6) {
        grid-row: 5/7;
        grid-column: 3/5;
        margin-left: 2em;
    }
}

/** 800*/
@media (max-width:1100px) {
    /** #############
        HERO
    ################ **/
    .hero--title {
        grid-row: 1/12;
        grid-column: 1/9;
        margin-left: 0.25em;
    }
    /** #############
        ABOUT
    ################ **/
    #aboutMe {
        margin-top: 2em;
    }
    .aboutMe--left {
        width: 350px;
        padding: 1em 0em;
        margin-left: 1em;
    }
    /** #############
        EXPERIENCE
    ################ **/
    #experience {
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(7, 1fr);
        justify-content: center;
        padding-top: 2em;
    }
    .exp--title {
        grid-row: 1/7;
        grid-column: 2/8;
        margin-left: 1.5em;
    }
    .exp--card:nth-child(2) {
        grid-row: 2/5;
        grid-column: 1/3;
        margin-left: 9em;
        margin-top: 3em;
    }
    .exp--card:nth-child(3) {
        grid-row: 2/5;
        grid-column: 3/5;
        margin-left: 4em;
        margin-top: 3em;
    }
    .exp--card:last-child {
        grid-row: 5/8;
        grid-column: 1/5;

        width: 780px;
        height: 300px;
        margin-left: 9em;
        margin-top: 4em;

    }

}

@media (max-width:950px) {
    /** #############
        HERO
    ################ **/
    .hero {
        background-color: var(--dark-red);
        text-align: center;
        padding-top: 1.5em;

        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(9, 1fr);

        min-width: 0;
        min-height: 0;

        justify-content: center;
    }

    .hero--title {
        font-size: 4rem;
        margin-left: 0.5em;
        grid-row: 1/12;
        grid-column: 1/9;
    }
    .hero--image img {
        width: 375px;
    }
    .hero--image {
        margin-left: 8em;
    }

    .hero--divider {
        margin-left: 7em;
    }

    /** #############
        PROJECTS
    ################ **/
    #projects {
        padding: 5em 0em;
    }
    .projects--div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .projects--title {
        margin-left: 1em;
    }

    .project:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/3;
        margin-left: 3em;
    }
    .project:nth-child(2) {
        grid-row: 1/3;
        grid-column: 3/5;
        margin-left: 1em;
    }
    .project:nth-child(3) {
        grid-row: 3/5;
        grid-column: 1/3;
        margin-left: 3em;
    }
    .project:nth-child(4) {
        grid-row: 3/5;
        grid-column: 3/5;
        margin-left: 1em;
    }
    .project:nth-child(5) {
        grid-row: 5/7;
        grid-column: 1/3;
        margin-left: 3em;
    }
    .project:nth-child(6) {
        grid-row: 5/7;
        grid-column: 3/5;
        margin-left: 1em;
    }
}

@media (max-width:870px) {
    /** #############
        HEADER/NAV
    ################ **/
    nav {
        padding: 1.5em;
        padding-top: 3em;

        flex-direction: column;
        align-items: center;
    }

    .header--title img {
        display: none;
    }
    .header--title p {
        font-size: var(--aboveNormal-font);
    }

    .nav--list {
        margin-top: 1em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav--list li:nth-child(-n+3) {
        display: none;
    }
    .nav--list li {
        margin-left: 0;
        margin-bottom: 1em;
    }

    .resume--download {
        font-weight: var(--boldest);
        border: none;
        text-align: center;
        padding: 0.25em 2em ;
        border-radius: 7px;
        overflow: hidden;

    }
    .resume--download button {
        overflow: hidden;
    }
    .resume--download:hover {
        cursor: pointer;
        box-shadow: 0px 0px 25px 10px rgb(172, 47, 47);
        overflow: hidden;
        transform: 0;
    }
    /** #############
        HERO
    ################ **/
    .hero {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    .hero--title {
        font-size: 3.5rem;
        margin-left: 0em;
        grid-row: 1/12;
        grid-column: 1/10;
        overflow-x: hidden;
    }
    .hero--image img {
        min-width: 300px;
    }
    .hero--image {
        grid-column: 3/8;
        grid-row: 2/5;
        margin-left: 0;
        z-index: 2;
        position: relative;
    }
    .hero--checkMeOut {
        min-width: 200px;
        margin-top: 1em;
        grid-row: 2/3;
        grid-column: 5/6;
        z-index: 2;
        position: relative;
    }
    .hero--divider {
        grid-column: 5/6;
        grid-row: 5/6;
        align-self: center;
        justify-self: center;
        margin-left: 0em;
    }
    .hero--black--color {
        height: 200px;
        grid-row: 4/6;
        grid-column: 1/10;
        z-index: 0;
        position: relative;
    }
    .hero--cream--color {
        grid-row: 5/6;
        grid-column: 1/10;
    }

    /** #############
        ABOUT
    ################ **/
    #aboutMe {
        display: flex;
        flex-direction: column;
    }
    .aboutMe--left {
        padding: 1em 0em;
        margin-left: 0;
        width: 300px;
    }
    .aboutMe--left--email {
        font-size: var(--aboveNormal-font);
    }

    .aboutMe--right {
        background-color: #780000;
        width: 350px;
        margin-left: 0em;
        margin-top: 2em;
    }
    .aboutMe--right img {
        width: 300px;
        border: 10px solid var(--dark-red);
        display: flex;
        align-items: center;
    }
    /** #############
        EXPERIENCE
    ################ **/
    #experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 2em;
        padding-bottom: 5em;
    }
    .exp--title {
        font-size: 2.25rem;
        margin-left: 0em;
        position: relative;
        z-index: 0;
    }
    .exp--card:nth-child(2) {
        margin-left: 0em;
        margin-top: -6em;
    }
    .exp--card:nth-child(3) {
        margin-left: 0em;
        margin-top: 2em;
        height: 550px;

    }
    .exp--card:last-child {
        padding: 1em;
        margin: 1em;
        width: 350px;
        height: 500px;
        margin-left: 0em;
        margin-top: 2em;
    }

    /** #############
        PROJECTS
    ################ **/
    #projects {
        padding: 3em 0em;
        text-align: center;
    }
    .projects--div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects--title {
        margin-left: 0em;
        margin-bottom: 1em;
    }
    .project:nth-child(n+1) {
        margin-left: 0em;
    }
    .project {
        height: 550px;
    }

    /** #############
        FOOTER
    ################ **/
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4em 0;
    }
    .footer--title {
        margin-left: 0em;
    }
    .contacts--list {
        margin-right: 0em;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }
    .contacts--list li {
        margin-bottom: 0.5em;
        margin-left: 0;
    }

}

