* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #FDAE16;
    --dark-red: #780000;
    --red: #B72424;
    --cream: #F7EEE1;
    --black: #000000;
    --white: #FFFFFF;

    --heading-font: 'Fredericka the Great';
    --body-font: 'Jost';
    --titles-font: 'Spicy Rice';

    --normal-font: 1rem;
    --aboveNormal-font: 1.25rem;
    --bigger-font: 2rem;

    --regular: 400;
    --bold: 500;
    --bolder: 600;
    --boldest: 700;
}

body, button {
    background-color: var(--cream);
    font-family: var(--body-font), 'Times';
    font-size: var(--normal-font);
    font-weight: var(--regular);
    color: var(--cream);
}

/** #############
    HEADER/NAV
################ **/
header {
    background-color: var(--dark-red);
    padding-top: 0.5em;
}
nav {
    padding: 1.5em;
    font-weight: var(--bolder);
    color: var(--cream);

    display: flex;
    justify-content: space-between;
}

.header--title {
    display: flex;
    align-items: center;
}
.header--title img {
    width: 25px;
    margin-right: 0.25em;
}

.nav--list {
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav--list li {
    margin-left: 1.5em;
}
.nav--list a {
    color: var(--cream);
    text-decoration: none;
}

.resume--download {
    background-color: var(--yellow);
    color: var(--dark-red);
    font-weight: var(--bolder);
    border: none;
    padding: 0.25em 0.75em ;
    border-radius: 7px;
    box-shadow: 1px 1px 15px 4px var(--red);
}
.resume--download:hover {
    cursor: pointer;
}

/** #############
    HERO
################ **/
.hero {
    background-color: var(--dark-red);
    text-align: center;
    padding-top: 1.5em;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(9, 1fr);

    min-width: 0;
    min-height: 0;

    justify-content: center;
}

.hero--title {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 4.75rem;
    letter-spacing: 0.5em;

    grid-row: 1/12;
    grid-column: 2/9;
}
.hero--title h1 {
    margin-bottom: 20px;
}
.hero--title h1:last-child {
    z-index: 1;
    position: relative;
}

.hero--image img {
    width: 450px;
    z-index: 1;
    position: relative;
}
.hero--image {
    grid-row: 3/9;
    grid-column: 2/5;
}

.hero--checkMeOut {
    background-color: var(--dark-red);
    width: 250px;
    grid-row: 5/7;
    grid-column: 6/8;
    box-shadow: 0px 0px 10px 0px rgb(131, 30, 30);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero--checkMeOut p {
    font-weight: var(--bolder);
    font-size: var(--aboveNormal-font);
    font-style: italic;
    margin-bottom: 0.5em;
}
.hero--checkMeOut button {
    background-color: var(--yellow);
    color: var(--dark-red);
    border-radius: 10px;
    border: none;
    padding: 0.25em 1em;
    font-weight: var(--boldest);
}

.hero--black--color {
    background-color: var(--black);
    height: 160px;

    grid-row: 8/10;
    grid-column: 1/10;

    display: flex;
    align-items: end;
    z-index: 0;
    position: relative;

}

.hero--divider {
    background-color: var(--yellow);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    grid-row: 9/11;
    grid-column: 5/6;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    position: relative;
}
.hero--divider p {
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--black);
}

.hero--cream--color {
    background-color: var(--cream);
    grid-row: 10/12;
    grid-column: 1/10;
}

/** #############
    PROJECTS
################ **/
.projects {
    background-color: var(--dark-red);
}

/** #############
    EXPERIENCE
################ **/

/** #############
    FOOTER
################ **/

/** #############
    MEDIA Q
################ **/
@media (max-width:700px) {
    /** #############
        HEADER/NAV
    ################ **/
    nav {
        padding: 1.5em;
        padding-top: 3em;

        flex-direction: column;
        align-items: center;
    }

    .header--title img {
        display: none;
    }
    .header--title p {
        font-size: var(--aboveNormal-font);
    }

    .nav--list {
        margin-top: 1em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav--list li:nth-child(-n+3) {
        display: none;
    }
    .nav--list li {
        margin-left: 0;
        margin-bottom: 1em;
    }

    .resume--download {
        font-weight: var(--boldest);
        border: none;
        text-align: center;
        padding: 0.25em 2em ;
        border-radius: 7px;
    }
}

