@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gaegu:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Schoolbell&display=swap');
@import "tailwindcss";

@theme {
    --font-formal: "Montserrat";
    --font-titles: "Dokdo"; 
    --font-funtext: "Gaegu";
    --font-text: "Schoolbell";

    --color-yellow: #ee9b00ff;
    --color-blue: #1b263bff;
    --color-red: #6f1d1bff;
    --color-white: #f5ebe0ff;
    --color-gray: #c0b7b1ff;
}